* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: bisque;
}

html {
  font-size: 16px;
}

/* em have compounting issue it take parent size and compouting rem used to fix compounting issue */
/* rem units are more consistent */


/* 
Rem Unit: The rem (root em) unit is based on the font size of the root element, typically the <html>.
For example, if the font size of the root element is set to 16 pixels, then 1rem is equal to 16 pixels.
rem always looking at the root


Em Unit: The em unit is based on the font size of the parent element.
For example, if the font size of a parent element is set to 16 pixels, then 1em is equal to 16 pixels. 
but if u put margin or padding  it take font size as the parent size 
*/ 

h1{
    font-size: 12em;
}


.header {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.emparent {
  font-size: 10px;
}
.em {
  font-size: 5em;
  padding: 1em;
  
}

.remparent {
  font-size: 10px;
}

.rem {
  font-size: 5rem;
}
